.sideBar {
  background: grey;
  flex: 1;
}

.navBar nav {
  border: 1px solid black;
  border-radius: 2px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.navbar ul {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

.navbar ul li {
  list-style: none;
  font-size: 3rem;
  letter-spacing: 4px;
}

.activePage {
  color: white;
}

.activePage::before {
  content: "⇥ ";
  /* take arrow out of flow */
  position: absolute;
  left: -10px;
}

